{% extends "layout/base.html" %} {% block title %}Todos{% endblock %} {% block
body %}
<div class="bg-white p-8 rounded-lg shadow-lg">
  <h1 class="text-xl font-semibold mb-4">Add Task</h1>
  <div class="flex items-center space-x-4">
    <form
      hx-post="/todos"
      hx-target="#todos"
      hx-swap="innerHTML"
      hx-on::after-request="this.reset()"
    >
      <input
        name="content"
        type="text"
        class="flex-1 p-2 border border-gray-300 rounded"
        placeholder="Enter a new task"
      />
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">
        Add
      </button>
    </form>
  </div>
</div>

<!-- Tasks List -->
<div class="mt-8">
  <h2 class="text-xl font-semibold mb-4">Tasks</h2>
  <div id="todos" class="bg-white p-8 rounded-lg shadow-lg">
    {% include "partial/todos.html" %}
  </div>
</div>

{% endblock %}
