<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/main.css" rel="stylesheet" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <!-- Left Nav Section -->
          <div class="flex space-x-7">
            <div>
              <!-- Website Logo -->
              <a href="#" class="flex items-center py-4 px-2">
                <span class="font-semibold text-gray-500 text-lg"
                  >Todo App</span
                >
              </a>
            </div>
          </div>
          {% if user.is_some() %}
          <!-- Right justified login/logout/signup -->
          <div class="hidden md:flex items-center space-x-1">
            <a
              href="/logout"
              class="py-4 px-2 text-green-500 font-semibold hover:text-green-400 transition duration-300"
              >Logout</a
            >
          </div>
          {% else %}
          <!-- Right justified login/logout/signup -->
          <div class="hidden md:flex items-center space-x-1">
            <a
              href="/login"
              class="py-4 px-2 text-green-500 font-semibold hover:text-green-400 transition duration-300"
              >Login</a
            >
            <a
              href="/signup"
              class="py-2 px-2 font-semibold hover:text-green-400 transition duration-300"
              >Signup</a
            >
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8">
      {% block body %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-white shadow-lg p-4 text-center">
      <span class="text-sm text-gray-500"
        >© 2023 Derrick Weis. Made with ❤️ in Victoria, BC, Canada 🇨🇦.</span
      >
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
  </body>
</html>
